root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{py}]
indent_style = space
indent_size = 4

[*.{c,h,cpp,hpp}]
indent_style = space
indent_size = 2

[*.{xml,urdf,yaml}]
indent_style = space
indent_size = 2
