[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = git@github.com:stereolabs/zed-ros2-wrapper.git
[submodule "src/micro-ros-setup"]
	path = src/micro-ros-setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = foxy
[submodule "src/patchwork-plusplus-ros"]
	path = src/patchwork-plusplus-ros
	url = git@github.com:Autonomous-Motorsports-Purdue/patchwork-plusplus-ros.git
[submodule "ros2bag_tools"]
	path = ros2bag_tools
	url = https://github.com/kettenhoax/ros2bag_tools
[submodule "src/--init"]
	path = src/--init
	url = https://github.com/Kettenhoax/ros2bag_tools
[submodule "src/ros2bag_tools"]
	path = src/ros2bag_tools
	url = https://github.com/Kettenhoax/ros2bag_tools
[submodule "Race-Control-System-Client"]
	path = Race-Control-System-Client
	url = https://github.com/Autonomous-Motorsports-Purdue/Race-Control-System-Client
