[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = git@github.com:stereolabs/zed-ros2-wrapper.git
[submodule "src/micro-ros-setup"]
	path = src/micro-ros-setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = foxy
[submodule "src/patchwork-plusplus-ros"]
	path = src/patchwork-plusplus-ros
	url = git@github.com:Autonomous-Motorsports-Purdue/patchwork-plusplus-ros.git
